<h1>Admin Page</h1>
<div>Welcome, <%= @username %></div>
<table border='0'>
	<tr>
		<td><%= link_to 'Customer page', 'customer' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Pretty page', 'pretty' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Bento shop page', 'bentoshop' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Bento page', 'bento' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Deliver time page', 'deliver_time' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Pay way page', 'pay_way' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Bento order page', 'bento_order' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Order detail page', 'order_detail' %></td>
	</tr>
	<tr>
		<td><%= link_to 'Pretty ordership page', 'pretty_ordership' %></td>
	</tr>
</table>