<h1>Bento Shop</h1>
<table border='2'>
	<tr>
		<td>shop id</td>
		<td>shop_name</td>
		<td>address</td>
		<td>phone</td>
		<td>city</td>
		<% if @username=="admin" %>
			<td>edit / delete</td>
		<% end %>
	</tr>
	<% @bentoshops.each do |t| %>
		<tr>
			<td><%= t.id %></td>
			<td><%= t.shop_name %></td>
			<td><%= t.address %></td>
			<td><%= t.phone %></td>
			<td><%= t.city %></td>
			<% if @username=="admin" %>
				<td><%= link_to 'edit' , :action => 'modify', :id => t.id %> / <%= link_to 'delete' , :action => 'delete', :id => t.id %></td>
			<% end %>
		</tr>
	<% end %>
</table>
<% if @username=="admin" %>
	<p><%= link_to 'Create new bento shop', 'bentoshop/newshop' %></p>
<% end %>
<p><%= link_to 'Back', 'admin' %></p>